<!DOCTYPE html>

<html create-session="ifRequired" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Web Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Media Files</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/lastView">Last View Media<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="button" onclick="location.href='/refresh'">
                Refresh Media Source
            </button>
        </div>
    </div>
</nav>
<!--/*@thymesVar id="mediaGroup" type="com.local.resource.webplayer.dto.MediaSource[]"*/-->
<div th:if="!${#arrays.isEmpty(mediaGroup.subSources)}" class="btn-toolbar" role="toolbar">
    <tr th:each="path : ${mediaGroup.subSources}">
        <td>
            <button class="btn btn-default" th:value="${path}" th:text="${path}"
                    th:onclick="|showGroupSource(this.value)|">Location Group
            </button>
        </td>
    </tr>
</div>

<!--/*@thymesVar id="media" type="com.local.resource.webplayer.dto.MediaFile"*/-->
<div th:if="!${#arrays.isEmpty(mediaGroup.mediaFiles)}">
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Media</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tr th:each="media : ${mediaGroup.mediaFiles}">
            <td th:text="${media.title}">Title</td>
            <td>
                <a th:href="@{/resource/{id}(id=${media.id})}">Play</a>
            </td>
        </tr>
    </table>
</div>

</body>

<script>
    function showGroupSource(groupLocation) {
        // |window.location.href='@{/?group={group}(group=/"+${group.groupLocation}+")}'|
        location.href = '/?group=' + groupLocation;
    }
</script>

</html>