<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Web Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>

<body>
<h2>Media</h2>
<table>
    <thead>
    <tr>
        <th>Media</th>
        <th>View</th>
    </tr>
    </thead>
    <!--/*@thymesVar id="mediaList" type="com.local.resource.webplayer.dto.MediaSource[]"*/-->
    <tr th:each="media : ${mediaList}" class="media-row">
        <td th:text="${media.title}" class="media-title-cell">Title</td>
        <td>
            <a th:href="@{/{id}(id=${media.id})}">Play</a>
        </td>
    </tr>
</table>

</body>

</html>