<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--/*@thymesVar id="mediaId" type="java.lang.Long"*/-->
<video id="playedVideo" autoplay controls controlsList="nodownload"
       disablePictureInPicture
       th:onended="|runNext(${mediaId})|">
    <source th:src="@{/media/{id}(id=${mediaId})}">
</video>
<div id="play-btn" class="video-controls">PLAY</div>
</body>

<script>
    function fullScreen() {
        document.getElementById("playedVideo").requestFullscreen();
    }

    function runNext(currentId) {
        location.href = '/resource/' + currentId + '/next';
    }
</script>